<div class="jumbotron mt-3">
    <h1>You Here It First</h1>
    <p class="lead">Dashboard Screen.</p>
    <%= link_to 'See Track List', tracks_path, class:'btn btn-lg btn-primary' %>
    <%= link_to 'See Albums List', albums_path, class:'btn btn-lg btn-primary' %>
</div>