<div class="jumbotron mt-3">
    <h1>You Here It First</h1>
    <h3>Dashboard Screen.</h3>
    <p class="lead">Add An Album First & Then Proceed with Adding Tracks on each Album</p>
    <%= link_to 'See Albums List', albums_path, class:'btn btn-lg btn-primary' %>
    <%= link_to 'See Track List', tracks_path, class:'btn btn-lg btn-primary' %>
</div>